<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>sweeeets</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="container">
        <% @posts.each do |post| %>
          <%= render partial: "posts", locals: {post: post} %>
        <% end %>
    <%= paginate(@posts) %>
    </div>
  </body>

<!--hogehoge-->