<div class="post_container">
  <%= image_tag @post.image.url %>
  <%= simple_format(@post.text) %>
</div>
  <div id="likes_buttons_<%= @post.id %>">
    <%= render partial: 'likes/like', locals: { post: @post } %>
  </div>
