<div class="detail">
  <%= image_tag @post.image.url, :size =>'320x320' %>
  <%= simple_format(@post.text) %>
  <div id="likes_buttons_<%= @post.id %>">
    <%= render partial: 'likes/like', locals: { post: @post } %>
  </div>
</div>