/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
  margin: 0 10;
  background-color: #f7efff;
}

header {
  background-color: #ffadff;
  height: 100px;
  border-radius: 10px;
}

.header_title {
  
}

.header_title h1 {
}

.header_title a {
  display: block;
  text-align: left;
  width: 200px;
  padding-left: 30px;
  text-decoration: none;
  line-height: 100px;
}

.header_menu {
  position: absolute;
  top: 45px;
  left: 60%;
  right: 30px;
}

.header_menu ul {
  text-align: right;
}

.header_menu li{
  display: inline-block;
  width: 30%;
  text-align: center;
}

.header_menu a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}


.post_container {
  display: flex;
}

.image_box {
  width: 45%; 
  object-fit: cover;
}

img {
  border-radius: 15%;
  margin-top: 30px;
  height: 320px;
  width: 450px;
}

.post_container p {
  line-height: 30px;
  padding-top: 40px;
  padding-left: 20px;
  width: 45%;
}

.user {
  line-height: 4px;
  padding-top: 60px;
  padding-left: 50px;
}

.iine {
  list-style: none;
  padding-left: 50px;
  float: left;
}

.vertical_like {
  padding-left: 130px;
}

.config ul{
  display: flex;
}

.config li{
  list-style: none;
  padding: 0 30px;
}

.mypage h2{
  text-align: center;
}

textarea {
        width: 300px;
        height: 80px;
        line-height: 15px;
    }

input[type="password"] {
        width: 300px;
        height: 40px;
    }
    
input[type="email"] {
        width: 300px;
        height: 40px;
    }
    
submit {
        display: inline-block;
        width: 300px;
        height: 40px;
        font-size: 18px;
    }