/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
 @import "font-awesome";

 * {
  font-family: 'M PLUS Rounded 1c', sans-serif;
 }

body {
  margin: 0 10;
  background-color: #f7efff;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: #ffadff;
  height: 100px;
  border-radius: 5px;
}

header_title {
  display: inline-block;
}

.material-icons.large{
  float: left;
  color: #7f7fff;
  font-size: 50px;
  line-height: 100px;
}

.header_title a {
  float: left;
  width: 200px;
  text-decoration: none;
  line-height: 100px;
}

.header_menu {
  position: absolute;
  top: 45px;
  left: 60%;
  right: 80px;
}

.header_menu ul {
  text-align: right;
}

.header_menu li{
  display: inline-block;
  padding-left: 20px;
  text-align: center;
}

.header_menu a {
  text-decoration: none;
}


.post_container {
  display: flex;
}

.image_box {
  width: 45%; 
}

img {
  object-fit: scale-down;
  border-radius: 5%;
  margin-top: 30px;
}

.post_container p {
  text-align: left;
  line-height: 30px;
  padding-top: 40px;
  padding-left: 20px;
  width: 45%;
}

.user {
  line-height: 4px;
  padding-top: 60px;
  padding-left: 50px;
}

.like {
  list-style: none;
  padding-left: 140px;
  padding-top: 20px;
  float: left;
  font-size: 20px;
}


.vertical_like {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
}

.config ul{
  display: flex;
}

.config li{
  list-style: none;
  padding: 0 30px;
}

.mypage h2{
  text-align: center;
}

textarea {
        width: 300px;
        height: 80px;
        line-height: 15px;
    }

input[type="password"] {
        width: 300px;
        height: 30px;
    }
    
input[type="email"] {
        width: 300px;
        height: 30px;
    }
    
    
.btn .log_in {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 15pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 19px;   /* 余白       */
  background    : #ead6ff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 6px #666666;  /* 影の設定 */
  border        : 2px solid #ead6ff;    /* 枠の指定 */
}
.btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ead6ff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}